.container{
    max-width: 830px;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 20px;
    position: relative;
}
@keyframes scroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
.header{
/*    background-color: cornflowerblue;*/
    width: 100vw;
    height: 100vh;
/*    height: 100%;
    width: 100%;
    background-image: url(../../assistive/snowForBackground.jpg);*/
    background-color: cornflowerblue;
    position: relative;
    overflow: hidden;
}

.windDirection {
    content: "";
    position: absolute;
    width: 2000%;
    height: 2000%;
    top: -1000%;
    left: -1000%;
    /*z-index: -1;*/
    background: url(../../assistive/snowForBackground_1.jpg) 0 0 repeat;
    /*background-size: auto auto;*/
    opacity: 0.3;
    animation: scroll linear 10s infinite;
    /*    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(0deg);*/
}

.header__top{
    min-height: 50px;
    text-align: center;
    padding: 20px;
}

.header__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 400px;
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.content__temp_current{
    text-align: center;
    font-size: 120px;

}
.content__temp_hour_ahead{
    text-align: center;
    font-size: 50px;
}

