* {
  margin: 0;
  padding: 0;
}

body {
  height: 500px;
  /*background-color: #c8a613;*/
}

.field {
  width: calc(100vw - 17px);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.field__playing {
  display: grid;
  gap: 15px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
}

.field__left {
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 0px;
  justify-items: center;
  align-items: center;
  font-size: 20px;
}

.field__left-fixed {
  position: fixed;
  top: 50px;
}

.cell {
  display: grid;
  width: 300px;
  height: 200px;
  padding: 0px;
  justify-items: center;
  align-items: center;
  font-size: 20px;
background-color: indianred;


}

.cell div {
  background-color: rgba(255, 255, 255, 0.51);
  cursor: pointer;
}

.noneElem{
  display: none;
}

.switchImages{
  cursor: pointer;
}